.section__prefooter {
  padding: 5%;
  background-color: var(--color-primary-dark);
  h1,
  h2,
  h3,
  h4,
  p,
  span,
  a {
    color: var(--color-white);
  }
  ul {
    li {
      a {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        &::before {
          content: "";
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          border-width: 2px;
          border-style: solid;
          border-color: var(--color-secondary);
          border-left-color: transparent;
          border-bottom-color: transparent;
          transition:
            transform 0.18s ease,
            opacity 0.18s ease;
        }

        &:hover {
          color: var(--color-secondary);
          &::before {
            opacity: 1;
            transform: translateX(4px) rotate(45deg);
          }
        }
      }
    }
  }
}
